<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="logo.jpg"/>
    <title>Media Box by Eduard Tkachuk</title>
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">

    <link rel="stylesheet" href="./lib/css.css">
    <link rel="stylesheet" href="./lib/vue-material.min.css">
    <link rel="stylesheet" href="./lib/default.css">
    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-material.min.js"></script>

    <script src="./lib/vue-resource.min.js"></script>
    <script src="./lib/vue-router.js"></script>

    <script src="./lib/axios.min.js"></script>
    <script src="./lib/moment.min.js"></script>
</head>

<style>
    ::-webkit-scrollbar {
    }
</style>

<body>
<div id="app">
    <template>
        <div class="page-container" class="sidenav">
            <md-app md-mode="fixed">
                <md-app-toolbar class="md-primary" v-show="login">
                    <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
                        <md-icon>menu</md-icon>
                    </md-button>
                    <span class="md-title" style="color: white;font-size: 22px;font-weight: 900;">Media Box by Eduard Tkachuk</span>
                </md-app-toolbar>

                <md-app-drawer :md-active.sync="menuVisible" md-persistent1="mini"
                               style="background: black; background1: linear-gradient(45deg, black, transparent)">
                    <md-toolbar class="md-transparent" md-elevation="0"
                                style="color: white;font-size: 20px;font-weight: 500;">Media Box
                    </md-toolbar>

                    <md-list @click="menuVisible = !menuVisible" style="background: #111; color: white">
                        <md-divider style="background: white"></md-divider>
                        <md-list-item to="/notes" style="color: white">
                            <md-icon style="color: white">list</md-icon>
                            <span class="md-list-item-text" style="color: white">Table</span>
                        </md-list-item>
                        <md-divider style="background: white"></md-divider>

                        <md-list-item to="/cards" style="color: white">
                            <md-icon style="color: white">photo</md-icon>
                            <span class="md-list-item-text" style="color: white">Cards</span>
                        </md-list-item>
                        <md-divider style="background: white"></md-divider>

                    </md-list>
                </md-app-drawer>

                <md-app-content style="background: #eee">
                    <router-view></router-view>
                </md-app-content>
            </md-app>

        </div>
    </template>
</div>

<style lang="scss" scoped>
    .md-app {
        height: 100vh;
    }

    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }

    .md-table {
        height: 88vh;
    }

    .md-title {
        overflow: hidden;
    }

    .md-table-content {
        height: 85vh !important;
        max-height: 85vh !important;
    }

    .md-tabs-navigation {
        background: rgb(238, 238, 238) !important;
    }

    .md-table-cell-container {
        overflow-wrap: break-word !important;
        width: 220px !important;
    }

    .md-app-scroller {
        background: rgb(238, 238, 238) !important;
    }

    .md-table-head-container {
        width: 220px !important;
    }

</style>

</body>
</html>

<script>
    const appConfig = new Vue();
    appConfig.login = false;
    appConfig.allRecords = false;

    const Notes = {template: '<notes></notes>'};
    const NoteAdd = {template: '<note-add></note-add>'};
    const NoteEdit = {template: '<note-edit></note-edit>'};

    const Pictures = {
        template: `
        <div>
            <div style1="width: 49%;padding: 0 5px;overflow-y: scroll;float: right;left: 0;top: 0;height:100vh;">
                <pictures-items></pictures-items>
            </div>
        </div>
    `};

    Vue.component('notes', {
        template: `
		  <div>
		    <md-speed-dial style="position: absolute; z-index: 22; bottom: 100px;right: 100px;">
              <md-speed-dial-target v-on:click="addItem">
                <md-icon>add</md-icon>
              </md-speed-dial-target>
            </md-speed-dial>

			<md-table v-model="searched" md-sort="id" md-sort-order="asc" md-card md-fixed-header>
			  <md-table-toolbar>
				<div class="md-toolbar-section-start">
				  <h1 class="md-title">Items ({{ searched.length }})</h1>
				</div>

				<md-field v-if=byName md-clearable class="md-toolbar-section-end">
				  <md-input placeholder="Search by title..." v-model="search" @input="searchOnTable" v-on:keyup.enter="onSearch('name')"/>
				</md-field>

			  </md-table-toolbar>
              <div style="display: none">{{ searched.length }}</div>

			  <md-table-empty-state>
			    <div v-if="!loading"> No items</div>
			    <md-progress-spinner v-show="loading" :md-diameter="70" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
			  </md-table-empty-state>

			    <md-table-row slot="md-table-row" slot-scope="{ item }" v-on:click="showDetails(item)">

                <md-table-cell md-label="Poster" md-sort-by="pic">
			        <md-avatar class="md-large" style="width: 126px;height: 115px;">
				        <img :src="item.artworkUrl100.replace('100x100bb.jpg', '500x500bb.jpg')"
                     style="width: 240px; height: 150px; border-radius: 20px">
				    </md-avatar>
				</md-table-cell>

                <md-table-cell md-label="Title" md-sort-by="name">{{ item.trackName }}</md-table-cell>
			  </md-table-row>
			</md-table>
  		</div>`,
        data: () => ({
            items: [],
            todo: [1, 1, 1],
            filteredItems: [],
            recordsCount: 20,
            positionY: 0,
            search: null,
            searched: [],
            loading: true,
            byName: true,
            allRecords: true,
            count: 0,
            searchCheck: false
        }),
        created() {
            this.fetchData('Marvel');
            this.searched = this.items;
            appConfig.$emit('login', {});
        },
        methods: {
            fetchData(searchQuery) {
                this.status = 'loading';

                if (!searchQuery) {
                    if (!appConfig.searchText) {
                        appConfig.getSearchText();
                    }
                    searchQuery = appConfig.searchText;
                }

                this.$http.jsonp('https://itunes.apple.com/search?media=all&term=' + searchQuery)
                    .then((response) => response.json())
                    .then(result => {
                        this.count = result.results.length;
                        this.items = [].concat(result.results);
                        console.log('yard ON - ', result.results.length );
                        this.filteredItems = [].concat(result.results);
                        this.searched = this.items;
                        this.loading = false;

                    }).catch((error) => {
                    this.status = 'show';
                })
            },
            onSearch(name) {
                console.log('Enter')
                if (this.search !== null && this.search !== "") {
                    this.loading = true;
                    let url;

                    this.$http.jsonp('https://itunes.apple.com/search?media=all&term=' + this.search)
                        .then((response) => response.json())
                        .then(result => {
                            this.count = result.results.length;
                            this.items = [].concat(result.results);
                            console.log('yard ON - ', result.results.length );
                            this.filteredItems = [].concat(result.results);
                            this.searched = this.items;
                            this.loading = false;

                        }).catch((error) => {
                        //appConfig.notifications.items.push(this.notification);
                        this.status = 'show';
                    })
                }
            },
            getNotes() {
                const notes = JSON.parse(localStorage.getItem('notes'));

                this.count = notes.length;

                this.items = [].concat(notes);

                this.filteredItems = [].concat(notes);
                this.searched = this.items;
                this.loading = false;
                console.log('notes: ', notes);
            },
            sort(a, b) {
                return parseInt(b.id) - parseInt(a.id);
            },
            searchOnTable() {
                if (this.search) {
                    this.searchCheck = true;
                } else {
                    this.searchCheck = false;
                }

                this.searched = this.searchByName(this.items, this.search)
            },
            searchByName(items, term) {
                if (term) {
                    return items.filter(item => this.toLower(item.trackName).includes(this.toLower(term)))
                }
                return items
            },
            toLower(text) {
                return text.toString().toLowerCase()
            },
            showDetails(item) {
                appConfig.item = item;
                localStorage.setItem('item', JSON.stringify(item));
                this.$router.push('note-edit');
            },
            addItem() {
                appConfig.item = null;
                this.$router.push('/note-add');
            },
        }
    });

    Vue.component('note-edit', {
        template: `
		    <div style="width:500px; margin: auto; padding-top: 5vh; min-width: 300px">
                  <md-card class="md-layout-item md-size-100 md-small-size-50">
                    <md-card-header style="background: #448aff; color: white;margin-bottom: 20px;padding: 10px;">
                      <div class="md-title" style="font-weight: bold;">{{ name }}</div>
                    </md-card-header>

                    <md-card-content style="padding-bottom: 0px;">

                        <center>
                              <img :src="this.pic.replace('100x100bb.jpg', '500x500bb.jpg')"
                                   style="width: 500px; height: 500px; border-radius: 20px; margin-bottom: 20px;"
                                   v-on:click="playItem">

                              <div style="font-size: 40px; font-weight: bold; font-family: cursive; margin-bottom: 10px;">
                                <div>{{ name }}</div>
                              </div>
                              </br>

                              <div style="font-size: 30px; font-weight: bold; font-family: cursive; margin-bottom: 10px;">
                                <div>{{ artistName }}</div>
                              </div>
                              </br>

                              <div style="font-size: 30px; font-weight: bold; font-family: cursive; margin-bottom: 10px;">
                                <div>{{ collectionName }}</div>
                              </div>
                              </br>

                              <div style="font-size: 20px; font-weight: bold; margin-bottom: 10px; font-family: 'serif';">
                                <div>{{ longDescription }}</div>
                              </div>
                              </br>

                              <div style="font-size: 30px; font-weight: bold; font-family: cursive; margin-bottom: 10px;">
                                <div>{{ primaryGenreName }}</div>
                              </div>
                              </br>

                              <div style="font-size: 30px; font-weight: bold; font-family: cursive; margin-bottom: 10px;">
                                <div>{{ releaseDate }}</div>
                              </div>
                              </br>

                              <div style="font-size: 30px; font-weight: bold; font-family: cursive; margin-bottom: 30px;">
                                <div>{{ kind }}</div>
                              </div>

                        </center>
                    </md-card-content>

                    <md-progress-bar style="margin-top: 40px;" md-mode="indeterminate" v-if="loading" />

                    <md-card-actions style="padding-bottom: 40px;">

                        <div style="margin: auto;">
                            <md-button type="button" class="md-raised md-primary"  v-on:click="playItem">Play</md-button>
                            <md-button type="button" class="md-raised md-primary"  v-on:click="back">Back</md-button>
                        </div>

                    </md-card-actions>
                  </md-card>

                  <md-snackbar :md-active.sync="userSaved" md-position="left" >
                    The {{ name }} is shown!
                    <md-button class="md-primary" @click="userSaved = false">Close</md-button>
                  </md-snackbar>
  		</div>`,
        data: () => ({
            title: null,
            id: null,
            name: null,
            category: null,
            group: null,
            description: null,
            pic: '1',
            placeholder: null,
            todo: [],

            pictures: [],
            hasMessagesName: false,
            hasMessagesСategory: false,
            hasMessagesGroup: false,
            hasMessagesDescription: false,
            hasMessagesPhoto: false,
            userSaved: true,
            sending: false,
            lastUser: null,
            loading: false,
            error: false,
            snackbar: true,
            dialog: false,
            favorite: false,
            favorites: ''
        }),
        created() {
            appConfig.$emit('login', {});
            this.init();
        },
        methods: {
            init() {
                let item = JSON.parse(localStorage.getItem('item'));
                appConfig.box = Object.assign({}, item);

                this.setData();

                window.setTimeout(() => {
                    this.userSaved = false;
                }, 2000);
            },
            setData() {
                if (appConfig) {
                    if (appConfig.box) {
                        this.name = appConfig.box.trackName;
                        this.artistName = appConfig.box.artistName;
                        this.url = appConfig.box.previewUrl;
                        this.pic = appConfig.box.artworkUrl100;
                        this.kind = appConfig.box.kind;
                        this.collectionName = appConfig.box.collectionName;
                        this.primaryGenreName = appConfig.box.primaryGenreName;
                        this.releaseDate = appConfig.box.releaseDate.split('-')[0];
                        this.longDescription = appConfig.box.longDescription
                    }
                }
            },
            playItem() {
                if (appConfig.box.kind === 'podcast') {
                    this.$router.push('/box');
                    return null;
                }
                window.location = this.url
            },
            back() {
                this.$router.push('/notes');
            },
        }
    });

    Vue.component('pictures-items', {
        template: `
		<div>
		<md-card class="md-layout-item " style="position: fixed; z-index: 5; width1: 100%; margin: 0px; padding: 0px; margin-top: -12px;">
		 <md-card-header>
          <div class="md-title">Notes ({{ searched.length }})</div>
        </md-card-header>
            <md-card-content style="padding-bottom: 0px;">
				<md-field md-clearable class="md-toolbar-section-end" style="width:250px">
				  <md-input placeholder="Search by title..." v-model="search" @input="searchOnTable" />
				</md-field>
            </md-card-content>

            <md-card-actions style="margin-bottom: 20px;">
                   <!--   <md-button type="button" class="md-raised md-primary">Back</md-button>-->
                    </md-card-actions>
            </md-card>

            <md-empty-state v-if="loading" style="padding-top: 35vh;">
                <md-progress-spinner :md-diameter="70" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
            </md-empty-state>

			<md-list v-if="!loading" class="md-triple-line" v-for="item in searched" v-on:click="showDetails(item)" v-bind:key="item.id" style="background: rgb(238, 238, 238);">
			  <md-list-item style="background: rgb(238, 238, 238);">
                  <md-card md-with-hover style="width: 50%; margin: auto;" >
                        <md-card-header>
                          <div class="md-title">{{item.name}}</div>
                          <div class="md-subhead">{{item.category}}</div>
                          <div class="md-subhead">{{item.group}}</div>
                        </md-card-header>
                        <md-card-content style="margin-left: 60px;
                                white-space: nowrap;
                                overflow: hidden;
                                max-width: 600px;
                                border-left:1em solid transparent;
                                border-right:1em solid transparent;
                                text-overflow: ellipsis;" v-on:click="showDetails(item)">
                            <div class="md-layout-item md-small-size-200">
                              <ul>
                                <li v-for="item in item.todo">
                                  {{ item.label }}
                                  <div>
                                    <input type="checkbox" v-model="item.done">
                                  </div>
                                </li>
                            </ul>
                        </div>
                        </md-card-content>
                  </md-card>
               </md-list-item>
			</md-list>
  		</div>`,
        data: () => ({
            items: [],
            loading: true,
            filteredItems: [],
            search: null,
            searched: [],
        }),
        created() {
            this.getNotes();
            appConfig.$emit('login', {});
        },
        methods: {
            getNotes() {
                const notes = JSON.parse(localStorage.getItem('notes'));

                console.log('notes: ', notes);

                this.count = notes.length;

                this.items = [].concat(notes);
                this.filteredItems = [].concat(notes);
                this.searched = this.items;
                this.loading = false;

            },
            getItems() {
                this.$http.get(appConfig.url + 'api/pic/get')
                    .then(result => {
                        this.items = [].concat(result.data.sort(this.sort));
                        this.filteredItems = [].concat(result.data.sort(this.sort));
                        this.searched = this.items;
                        this.loading = false;

                    })
                    .catch(error => {
                    });
            },

            sort(a, b) {
                return parseInt(b.id) - parseInt(a.id);
            },
            searchOnTable() {
                this.searched = this.searchByName(this.filteredItems, this.search)
            },
            searchByName(items, term) {
                if (term) {
                    return items.filter(item => this.toLower(item.name).includes(this.toLower(term)))
                }
                return items
            },
            toLower(text) {
                return text.toString().toLowerCase()
            },
            showDetails(item) {
                console.log('item', item)
                appConfig.item = item;
                this.$router.push('/note-edit');
            },
            onPhotoClick(pic) {
                let w = window.open('about:blank');
                let image = new Image();
                image.src = pic;
                setTimeout(function () {
                    w.document.write(image.outerHTML);
                }, 0);
            },
        }
    });

    Vue.use(VueMaterial.default);

    const routes = [
        {path: '/', component: Notes},
        {path: '*', component: Notes},

        {path: '/notes', component: Notes},
        {path: '/note-add', component: NoteAdd},
        {path: '/note-edit', component: NoteEdit},

        {path: '/cards', component: Pictures},
    ];

    const router = new VueRouter({
        routes,
    });

    new Vue({
        el: '#app',
        router,
        data: () => ({
            menuVisible: false,
            login: appConfig.login,
        }),
        created() {
            this.init();
            appConfig.route = this.$route.path.split('/')[1];

            appConfig.url = 'http://localhost:3000/';

            appConfig.getAccessToken = () => {
                appConfig.access_token = localStorage.getItem('access_token');
            };

            appConfig.$on('route', route => {
                this.changeRoute(route);
            });

            appConfig.$on('login', () => {
                this.login = true;
            });

            appConfig.$on('logout', () => {
                this.login = false;
            });
        },
        methods: {
            init() {
                appConfig.favorites = localStorage.getItem('favorites');
                if (!appConfig.favorites) {
                    localStorage.setItem('favorites', '');
                }

                appConfig.notes = localStorage.getItem('notes');

                if (!appConfig.notes) {
                    const notes = [
                        {
                            id: 1,
                            'name': 'Implement basic functionality',
                            'todo': [
                                {'label': 'User should be able to see the list of created notes', 'done': true},
                                {'label': 'User should be able to create a note with TODO elements', 'done': false},
                                {'label': 'User should be able to mark/unmark concrete TODO element', 'done': false}]
                        },
                        {
                            id: 2, 'name': 'Implement \'Edit\' and \'Delete\' functionality',
                            'todo': [
                                {'label': 'User should be able to edit already existing note', 'done': false},
                                {'label': 'User should be able to delete existing node', 'done': false}]
                        },
                        {
                            id: 3, 'name': 'Implement \'Redo\' functionality',
                            'todo': [
                                {
                                    'label': 'User should be able to redo his last action (creating or deleting; no need to do this for editing)',
                                    'done': false
                                }]
                        },
                        {
                            id: 4, 'name': 'Implement confirmation popups for Delete functionality',
                            'todo': [
                                {
                                    'label': 'User should be prompted to confirm that he really wants to delete this note (without native \'alert()\', \'confirm()\' or \'prompt\')',
                                    'done': false
                                }]
                        },
                        {
                            id: 5, 'name': 'Implement \'Export\' and \'Import\' functionality',
                            'todo': [
                                {
                                    'label': 'User should be able to export all his notes as a single file and save it on computer',
                                    'done': false
                                },
                                {
                                    'label': 'User should be able to import all notes from file on his computer that previously exported',
                                    'done': false
                                }]
                        },
                    ];

                    localStorage.setItem('notes', JSON.stringify(notes));
                }

            },
            changeRoute(route) {
                appConfig.route = route;
                this.init();

                if (this.$router.currentRoute.path === '/' + route) {
                    return false;
                }

                this.$router.push('/' + route);
                return false;
            },
            emitEvent(event) {
                appConfig.$emit(event, {});
                this.map = true;
                closeNav();
            },
            logout() {
                localStorage.setItem('access_token', null);
                this.changeRoute('login');
                appConfig.$emit('logout', {});
            }
        },
    })
</script>
