<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.3/vue-resource.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcEkMFV_WyhNdZrr8VLaCYOw4FP75u748"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

<style>
    ::-webkit-scrollbar {
        display: none;
    }

    html {
        background: #f6f6f6;
        overflow: hidden;
    }

    body {
        background: white;
        margin: 0;
        padding: 0;
    }

    .top {
        position: fixed;
        top: 0px;
        width: 100%;
        display: block;
        background: white;
        padding: 5px;
        height: 85px;
        color: #ef835d;
        font-size: 200%;
        text-align: center;
        border-bottom: 1px solid #d1d1d1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    }

    .middle {
        background: #f6f6f6;
        /*margin-top: 50px;*/
        width: 100%;
        height: 100%;
        color: #ef835d;
        color: black;
        font-size: 200%;
        text-align: center;
        overflow-y: scroll;
        border-top: 1px solid #d1d1d1;
    }

    .bottom {
        position: fixed;
        bottom: 0px;
        width: 100%;
        /*background: red;*/
        background: #01579B;
        padding: 5px;
        height: 40px;
        color: white;
        font-size: 30px;
        text-align: center;
        border-top: 1px solid #d1d1d1;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.2s;
        padding-top: 60px;
        box-shadow: rgba(0, 0, 0, 0.35) 3px 0px 10px 0px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.2s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .2s;
    / / padding: 16 px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    ul {
        padding-inline-start: 0;
        font-size: 25px;
        /*text-shadow: #000 0.15em 0.15em 0.15em;*/
    }

    li {
        list-style-type: none;
        color: white;
        padding: 20px;
        border-bottom: solid 1px black;
    }

    li:hover {
        background: whitesmoke;
        color: black;
    }

    .active {
        background: white;
        color: black;
    }
</style>

<div id="app">
    <div id="mySidenav" class="sidenav">
        <div style="color: white;margin-top: -48px;margin-left: 12px;font-size: 30px;width: 200px;">
            Yard Management System
        </div>
        <div style="color: white;margin-top: 20px;margin-left: 15px;font-size: 20px;width: 200px;">
            by Eduard Tkachuk
        </div>
        <ul>
            <a href="" class="closebtn" onclick="event.preventDefault();closeNav()"> &times;</a>


            <li v-on:click="changeRoute('dispatcher')" v-bind:class="{ active: dispatcher }">
                <i class="fas fa-user-friends"></i><span style="margin: 15px;">Dispatcher</span></li>

            <li v-on:click="changeRoute('gatekeeper')" v-bind:class="{ active: gatekeeper }">
                <i class="fas fa-key"></i><span style="margin: 15px;">Gatekeeper</span></li>

            <li v-on:click="changeRoute('driver')" v-bind:class="{ active: driver }">
                <i class="fas fa-truck-moving"></i><span style="margin: 15px;">Driver</span></li>

        </ul>
    </div>

    <div id="main">
        <div class="middle">
            <router-view></router-view>
        </div>
    </div>
</div>
</div>

<script>
    const appConfig = new Vue();
    appConfig.route = 'dispatcher';

    const Dispatcher = {
        template: `
                    <div>
                        <div class="top"><top></top></div>
                            <dispatcher-items></dispatcher-items>
                        <div class="bottom"><bottom></bottom></div>
                    </div>`
    };
    const VehiclesEdit = {template: '<vehicle-edit></vehicle-edit>'};
    const VehicleAdd = {template: '<vehicle-add></vehicle-add>'};

    Vue.component('top', {
        template: `<div>
        <div style="float: left; margin: 20px; margin-top: 4px;">
                <span style="font-size:30px;cursor:pointer; color: black" onclick="openNav()">&#9776;</span>
        </div>
        <div style="margin-top: 15px; color: red; font-size: 50px;margin-right: 100px;">
            <form class="search-form" id="search" style="">
                <label>
                    <input type="text" style="font-size: 24px;height: 50px; width1: 400px;padding: 20px;border-radius: 7px;border: 1px solid rgba(0,0,0,.15);margin-top: 2px;outline:none;"
                        placeholder="Search by name"
                        v-model="searchQuery" v-on:click="searchClear" v-on:keyup="changeView" v-on:keyup.enter="goSearch">
                </label>
                <div style="margin-top: -39px;font-size: 30px;margin-left: 230px;color: black;margin-right: -60px;" v-on:click="goSearch"><i class="fa fa-fw fa-search"></i></div>
            </form>
        </div>
        <div style="float: right; margin: -100px 40px;">
                <span style="font-size:50px;cursor:pointer; color: black" v-on:click="vehicleAdd()">&#43;</span>
        </div>
        </div>`,
        data() {
            return {
                searchQuery: '',
            };
        },
        methods: {
            vehicleAdd() {
                appConfig.$emit('route', 'vehicle-add');
            },
            changeView() {
                let route;
                switch (appConfig.route) {
                    case "employees":
                        route = 'searchQueryEmployees';
                        break;
                    case "goods":
                        route = 'searchQueryGoods';
                        break;
                    case "phones":
                        route = 'searchQueryPhones';
                        break;
                    case "box":
                        route = 'searchQueryBox';
                        break;
                }
                appConfig.$emit(route, this.searchQuery);
            },
            searchClear() {
                this.searchQuery = '';
                this.changeView();
            },
            goSearch() {
                if (appConfig.route === 'box') {
                    appConfig.$emit('searchQueryITunes', this.searchQuery);
                }
            }
        },
    });
    Vue.component('bottom', {
        template: `<div>Records: {{count}}</div>`,
        data() {
            return {
                count: 0,
            };
        },
        created() {
            appConfig.$on('itemsCount', itemsCount => {
                this.count = itemsCount;
            });
        },
        methods: {},
    });

    Vue.component('dispatcher-items', {
        template: `<div>
        <div v-if="loading">
            <div style="position: relative; top: 250px; -webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box; font-size:54px">
                <img src="./loading.gif" alt="">
            </div>
        </div>
        <div v-if="!loading">
            <div style="margin-top: 96px;margin-bottom: 50px; font-size: 30px">
                <div v-bind:style=renderStatus(item) style="height: 50px; padding-top: 15px;border: 1px solid; border-top: 1px solid #eee; color: black;" v-for="item in items" v-on:click="showDetails(item)">
                    {{ item.plateNo }}  - {{ item.vehicleOid }} - {{ item.companyName }}
                </div>
            </div>
        </div>
        <div v-if="error" style="color: red">
            Server error - try again
        </div>
        </div>`,
        data: function () {
            return {
                items: [],
                searchQuery: '',
                filteredItems: [],
                loading: true,
                error: false,
            };
        },
        created() {
            this.getVehicles();
            appConfig.$on('searchQueryEmployees', searchQuery => {
                let arr = [].concat(appConfig.items);
                let items = arr.filter((el) => el.employee_name.toLowerCase().indexOf(searchQuery.toLowerCase()) !== -1);
                this.filteredItems = items;
                this.items = items;

                appConfig.$emit('itemsCount', items.length);
                if (searchQuery === '') {
                    this.items = appConfig.items;
                    this.filteredItems = appConfig.items;
                }
            });
        },

        computed: {},
        methods: {
            renderStatus(item) {
                switch (item.status) {
                    case '1':
                        return {
                            background: 'red',
                            color: 'white'
                        };
                        break;
                    case '2':
                        return {
                            background: 'yellow',
                            color: 'blue'
                        };
                        break;
                }
                /*if (item.plateNo == 1)
                    return {
                        background: 'red',
                        color: 'white'
                    }*/
            },
            getToken() {
                this.error = false;
                this.$http.get(appConfig.url + 'api/auth')
                    .then(result => {
                        appConfig.access_token = result.body;
                        localStorage.setItem('access_token', result.body);
                    })
                    .catch(error => {
                        this.getToken();
                        this.error = true;
                        this.loading = false;
                    });
            },
            getVehicles() {
                appConfig.getAccessToken();

                if (!appConfig.access_token) {
                    this.getToken();
                    setTimeout(this.getVehicles, 100);
                    return;
                }

                this.$http.get(appConfig.url + 'api/vehicles/get', {
                    headers: {'Authorization': appConfig.access_token}
                })
                    .then(result => {
                        this.items = result.data.sort(this.sort);
                        this.filteredItems = result.data.sort(this.sort);
                        appConfig.items = this.filteredItems.sort(this.sort);
                        this.loading = false;
                        appConfig.$emit('itemsCount', this.items.length);
                    })
                    .catch(error => {
                        this.error = true;
                        this.loading = false;
                        this.getToken();
                    });
            },
            sort(a, b) {
                return parseInt(b.id) - parseInt(a.id);
            },
            showDetails(item) {
                appConfig.item = item;
                this.$router.push('vehicle-edit');
            },
        },
    });

    Vue.component('vehicle-add', {
        props: ['item'],
        template: `<div style="text-align: center;margin-top: 120px;">
        <div style="font-size: 40px;
                        color: black;
                        font-weight: bolder;
                        margin: 20px;">New record</div>

            <!--<span style="font-size: 24px; color: black;margin-left: -33px;">Name:</span>-->
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;
            border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;
            width: 450px;outline:none;margin-right: 0px;"
            placeholder="VehicleOid"
            v-on:keypress="clearWarning"
            v-model="vehicleOid" ><br>

            <!--<span style="font-size: 24px; color: black;margin-left: -41px;">Salary:</span>-->
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;
            border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;
            width: 450px;outline:none;margin-right: 0px;"
            placeholder="PlateNo"
            v-on:keypress="clearWarning"
            v-model="plateNo"><br>

            <!--<span style="font-size: 24px; color: black;margin-left: -19px;">Age:</span>-->
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;
            border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;
            width: 450px;outline:none;margin-right: 0px;"
            placeholder="CompanyName"
            v-on:keypress="clearWarning"
            v-model="companyName" ><br>



            <div style="font-weight: bold; font-size: 18px; color: #dc3545; margin-top: 0px; text-align: center;">
                <span v-show="invalidValue" style="margin-left: 0px;">Value required - please provide.</span>
            </div>

            <button style="font-size: 24px;
                            height: 50px;
                            width: 150px;
                            border-radius: 5px;
                            background: #01579B;
                            color: white;outline:none;"
            v-on:click="addItem">Submit</button>

            <button style="font-size: 24px;
                            height: 50px;
                            width: 150px;
                            border-radius: 5px;
                            background: #01579B;
                            color: white;outline:none;margin-top: 20px;"
            v-on:click="goBack">Back</button>

            <div v-if="loading">
                <div style="margin-top: -55px;-webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box; font-size:54px">
                    <img src="./loading.gif" alt="">
                </div>
            </div>

            <div v-if="error" style="color: red; margin-top: 25px;">
                Server error - try again
            </div>
        </div>`,
        data: function () {
            return {
                id: '',
                title: '',
                vehicleOid: '',
                plateNo: '',
                companyName: '',
                invalidValue: false,
                error: false,
                loading: false,
            };
        },
        created() {
            this.init();
        },
        methods: {
            init() {
                appConfig.getAccessToken();
            },
            goBack() {
                this.$router.push('/dispatcher');
            },
            addItem() {
                if (this.vehicleOid === '') {
                    this.invalidValue = true;
                }

                if (this.plateNo === '') {
                    this.invalidValue = true;
                }

                if (this.companyName === '') {
                    this.invalidValue = true;
                }

                if (this.invalidValue) {
                    return;
                }

                this.loading = true;
                this.$http.post(appConfig.url + 'api/vehicles/add', {
                    vehicleOid: this.vehicleOid,
                    plateNo: this.plateNo,
                    companyName: this.companyName,
                    arrived: 'n/a',
                    departed: 'n/a',
                    docked: 'n/a',
                    undocked: 'n/a',
                    status: 'created',
                    standing: 'n/a',
                    message: 'n/a',

                    authorization: appConfig.access_token
                })
                    .then(result => {
                        if (result.body.error) {
                            this.error = true;
                        } else {
                            this.$router.push('/dispatcher');
                        }
                        this.loading = false;

                    })
                    .catch(error => {
                        this.error = true;
                        this.loading = false;
                    });
            },
            clearWarning() {
                this.invalidValue = false;
            },
        },
    });
    Vue.component('vehicle-edit', {
        template: `<div style="text-align: center;margin-top: 50px;">
            <div style="font-size: 40px;color: black;font-weight: bolder;margin: 20px;">
                {{ title }}
            </div>

            <span style="font-size: 24px; color: black;">Created:</span>
            <input readonly style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;width: 450px;outline:none;margin-right: 40px;"
            placeholder="created"
            v-model="id"><br>

            <span style="font-size: 24px; color: black;margin-left: 0px;">
                PlateNo:
            </span>
            <input readonly style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;width: 450px;outline:none;margin-right: 40px;"
            placeholder="plateNo"
            v-on:keypress="clearWarning"
            v-model="plateNo" ><br>

            <span style="font-size: 24px; color: black;margin-left: -30px;">
                VehicleOid:
            </span>
            <input readonly style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;width: 450px;outline:none;margin-right: 40px;"
            placeholder="vehicleOid"
            v-on:keypress="clearWarning"
            v-model="vehicleOid" ><br>

            <span style="font-size: 24px; color: black;margin-left: -18px;">
                Company:
            </span>
            <input readonly style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;width: 450px;outline:none;margin-right: 40px;"
            placeholder="company"
            v-on:keypress="clearWarning"
            v-model="companyName" ><br>

            <span style="font-size: 24px; color: black;margin-left: 0px;">
                Arrived:
            </span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;width: 450px;outline:none;margin-right: 40px;"
            placeholder="arrived"
            v-on:keypress="clearWarning"
            v-model="arrived" ><br>

            <span style="font-size: 24px; color: black;margin-left: 0px;">
                Docked:
            </span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;width: 450px;outline:none;margin-right: 40px;"
            placeholder="docked"
            v-on:keypress="clearWarning"
            v-model="docked" ><br>

            <span style="font-size: 24px; color: black;margin-left: -24px;">
                Undocked:
            </span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;width: 450px;outline:none;margin-right: 40px;"
            placeholder="undocked"
            v-on:keypress="clearWarning"
            v-model="undocked" ><br>

            <span style="font-size: 24px; color: black;margin-left: -12px;">
                Departed:
            </span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;width: 450px;outline:none;margin-right: 40px;"
            placeholder="departed"
            v-on:keypress="clearWarning"
            v-model="departed" ><br>

            <span style="font-size: 24px; color: black;margin-left: 17px;">
                Status:
            </span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;width: 450px;outline:none;margin-right: 40px;"
            placeholder="status"
            v-on:keypress="clearWarning"
            v-model="status" ><br>

            <div style="font-weight: bold; font-size: 18px; color: #dc3545; margin-bottom: 20px; text-align: center;">
                <span v-show="invalidValue" style="margin-left: 0px;">Value required - please provide.</span>
            </div>

            <button style="font-size: 24px;height: 50px;width: 150px;border-radius: 5px;background: yellow;color: blue;outline:none;"
            v-on:click="updateItem">
                Arrived
            </button>

            <button style="font-size: 24px;height: 50px;width: 150px;border-radius: 5px;background: green;color: white;outline:none;"
            v-on:click="deleteItem">
                Moved
            </button>

            <button style="font-size: 24px;height: 50px;width: 150px;border-radius: 5px;background: red;color: white;outline:none;"
            v-on:click="updateItem">
                Docked
            </button>

            <button style="font-size: 24px;height: 50px;width: 150px;border-radius: 5px;background: dodgerblue;color: white;outline:none;"
            v-on:click="deleteItem">
                Undocked
            </button>

            <button style="font-size: 24px;height: 50px;width: 150px;border-radius: 5px;background: gray;color: white;outline:none;"
            v-on:click="deleteItem">
                Left
            </button><br>

            <button style="font-size: 24px;height: 50px;width: 150px;border-radius: 5px;background: #01579B;color: white;outline:none;margin-top: 20px;"
            v-on:click="goBack">
                Back
            </button><br><br>

            <div v-if="loading">
                <div style="margin-top: -55px;-webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box; font-size:54px">
                    <img src="./loading.gif" alt="">
                </div>
            </div>

            <div v-if="error" style="color: red;margin-top: 25px;">
                Server error - try again
            </div>
        </div>`,
        data: function () {
            return {
                id: '',
                title: '',
                vehicleOid: '',
                plateNo: '',
                companyName: '',
                arrived: '',
                departed: '',
                docked: '',
                undocked: '',
                status: '',
                standing: '',
                invalidValue: false,
                error: false,
                loading: false,
            };
        },
        created() {
            if (!appConfig.item) {
                //this.$router.push('/dispatcher');
            } else {
                this.init();
            }
        },
        methods: {
            init() {
                this.id = new Date(parseInt(appConfig.item.id)).toISOString().split('T')[0]
                    + ' ' + new Date(parseInt(appConfig.item.id)).toISOString().split('T')[1].split('.')[0];
                this.title = appConfig.item.plateNo;
                this.plateNo = appConfig.item.plateNo;
                this.vehicleOid = appConfig.item.vehicleOid;
                this.companyName = appConfig.item.companyName;
                this.arrived = appConfig.item.arrived;
                this.departed = appConfig.item.departed;
                this.docked = appConfig.item.docked;
                this.undocked = appConfig.item.undocked;
                this.standing = appConfig.item.standing;
                this.status = appConfig.item.status;
                appConfig.$emit('itemsCount', 1);
            },
            goBack() {
                this.$router.push('/dispatcher');
            },
            updateItem() {
                if (this.employee_name === '') {
                    this.invalidValue = true;
                }

                if (this.employee_age === '') {
                    this.invalidValue = true;
                }

                if (this.employee_salary === '') {
                    this.invalidValue = true;
                }

                if (this.invalidValue) {
                    return;
                }

                this.loading = true;
                this.$http.put('http://dummy.restapiexample.com/api/v1/update/' + this.id,
                    {
                        name: this.employee_name,
                        age: this.employee_age,
                        salary: this.employee_salary,
                    })
                    .then(result => {
                        this.$router.push('/dispatcher');
                    })
                    .catch(error => {
                        this.error = true;
                        this.loading = false;
                    });
            },
            deleteItem() {
                this.loading = true;
                this.$http.delete('http://dummy.restapiexample.com/api/v1/delete/' + this.id)
                    .then(result => {
                        this.$router.push('/dispatcher');
                    })
                    .catch(error => {
                        this.error = true;
                        this.loading = false;
                    });
            },
            clearWarning() {
                this.invalidValue = false;
            },
        },
    });

    const routes = [
        {path: '/', component: Dispatcher},
        {path: '/dispatcher', component: Dispatcher},
        {path: '/vehicle-add', component: VehicleAdd},
        {path: '/vehicle-edit', component: VehiclesEdit},
    ];

    const router = new VueRouter({
        routes,
    });

    new Vue({
        el: '#app',
        router,
        data: {},
        created() {
            this.init();
            appConfig.route = this.$route.path.split('/')[1];

            //appConfig.url = 'http://jwt-yard.herokuapp.com/';
            appConfig.url = 'http://localhost:3000/';

            appConfig.getAccessToken = () => {
                appConfig.access_token = localStorage.getItem('access_token');
            };

            appConfig.$on('route', route => {
                this.changeRoute(route);
            });
        },
        methods: {
            init() {
                this.dispatcher = appConfig.route === 'dispatcher';
                this.gatekeeper = appConfig.route === 'gatekeeper';
                this.driver = appConfig.route === 'driver';
            },
            changeRoute(route) {
                closeNav();
                if (this.$router.currentRoute.path === '/' + route) {
                    return false;
                }

                appConfig.route = route;
                this.init();
                this.$router.push('/' + route);
                return false;
            },
            emitEvent(event) {
                appConfig.$emit(event, {});
                this.map = true;
                closeNav();
            }
        },
    });

    function openNav() {
        document.getElementById('mySidenav').style.width = '250px';
    }

    function closeNav() {
        document.getElementById('mySidenav').style.width = '0';
        return false;
    }
</script>

